<div class="col-12 position-absolute top-0 end-0 container-fluid m-3 container mx-auto PosAbas">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-Receitas" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Receitas</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-Despesas" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Despesas</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-Saldo" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Saldo</button>
          <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-SaldoPrev" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" >Saldo Previsto</button>
        </div>
    </nav>


      <div class="tab-content" id="nav-Receitas">

        <div class="tab-pane fade show active" id="nav-Receitas" role="tabpanel" aria-labelledby="nav-Receitas-tab" tabindex="0">
    
            <table mat-table [dataSource]="DadosReceitas" class="table  mat-elevation-z8">
              
              <ng-container matColumnDef="id_R">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let Receitas">{{Receitas.id}}</td>
              </ng-container>

              <ng-container matColumnDef="Data_R">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let Receitas">{{Receitas.Data}}</td>
              </ng-container>

              <ng-container matColumnDef="Categoria_R">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let Receitas">{{Receitas.Categoria}}</td>
              </ng-container>
              
              <ng-container matColumnDef="SubCategoria_R">
                <th mat-header-cell *matHeaderCellDef> SubCategoria </th>
                <td mat-cell *matCellDef="let Receitas">{{Receitas.SubCategoria}}</td>
              </ng-container>

              <ng-container matColumnDef="FonteDespesa_R">
                <th mat-header-cell *matHeaderCellDef> FonteDespesa </th>
                <td mat-cell *matCellDef="let Receitas"> {{Receitas.FonteReceita}} </td>
              </ng-container>

              <ng-container matColumnDef="Observacao_R">
                <th mat-header-cell *matHeaderCellDef> Observacao </th>
                <td mat-cell *matCellDef="let Receitas"> {{Receitas.Observacao}} </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumnsReceitas"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsReceitas;"></tr>
            </table>

        </div>
        </div>
        
        <!-- <CONTEUDO ABA DESPESAS> -->

        <div class="tab-pane fade" id="nav-Despesas" role="tabpanel" aria-labelledby="nav-Despesas-tab" tabindex="0">
          <div class="" >

              <div class="grid mx-auto">
            
                 
          <table mat-table [dataSource]="DadosDespesas" class="table mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef> id </th>
              <td mat-cell *matCellDef="let Despesa"> {{Despesa.id}} </td>
            </ng-container>
          
    
            <ng-container matColumnDef="Data">
              <th mat-header-cell *matHeaderCellDef> Data </th>
              <td mat-cell *matCellDef="let Despesas"> {{Despesas.Data}} </td>
            </ng-container>
          
        
            <ng-container matColumnDef="Categoria">
              <th mat-header-cell *matHeaderCellDef> Categoria </th>
              <td mat-cell *matCellDef="let Despesas"> {{Despesas.Categoria}} </td>
            </ng-container>
          
        
            <ng-container matColumnDef="SubCategoria">
              <th mat-header-cell *matHeaderCellDef> SubCategoria </th>
              <td mat-cell *matCellDef="let Despesas"> {{Despesas.SubCategoria}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Valor">
              <th mat-header-cell *matHeaderCellDef> Valor </th>
              <td mat-cell *matCellDef="let Despesas"> {{Despesas.Valor}} </td>
            </ng-container>

            <ng-container matColumnDef="FonteDespesa">
              <th mat-header-cell *matHeaderCellDef> FonteDespesa </th>
              <td mat-cell *matCellDef="let Despesas"> {{Despesas.FonteDespesa}} </td>
            </ng-container>

            <ng-container matColumnDef="Observacao">
              <th mat-header-cell *matHeaderCellDef> Observacao </th>
              <td mat-cell *matCellDef="let Despesas"> {{Despesas.Observacao}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsDespesas"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDespesas;"></tr>
          </table>
          
          <mat-paginator 
          [length]="2"
          [pageSize]="1"
          [pageSizeOptions]="[2,4,6]">
        </mat-paginator>
        
        <button class="btn btn-primary" (click)="abrirCreateModal()">RegistarDespesas</button>
        <!--------------Modal Inclusão das Despesas --------->
        <div class="modal fade" id="ModInclusaoDesp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Coletar Registro</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               
                <app-form 
                (Data)="CapturaData($event)"
                (Categoria)="CapturaCategoria($event)"
                (SubCategoria)="CapturaSubCategoria($event)"
                (Observacao)="CapturaObservacao($event)"
                (FonteDespesa)="CapturaFonteDespesa($event)"
                (Valor)="CapturaValor($event)">
                </app-form>
                

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" (click)="createDespesas()" class="btn btn-primary">Criar Despesa</button>
              </div>
            </div>
          </div>
        </div> 
        </div>







        <div class="tab-pane fade" id="nav-Saldo" role="tabpanel" aria-labelledby="nav-Saldo-tab" tabindex="0">Saldo</div>
        <div class="tab-pane fade" id="nav-SaldoPrev" role="tabpanel" aria-labelledby="nav-SaldoPrev-tab" tabindex="0">nav-SaldoPrev</div>
      </div>
    </div>

