

<body id="page-top">

        <div id="PageWrapper">
            <!-- Side Bar -->
           
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="AcordionSidebar">
    
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                    <div class="sidebar-brand-icon">
                        <fa-icon [icon]=" Eyes "></fa-icon>
                    </div>
                    <div class="sidebar-brand-text mx-3">KAIZEN</div>
                </a>
    
                <hr class="sidebar-divider my-0">
    
                <li class="nav-item active">
                    <a class="nav-link" href="home">
                        <fa-icon [icon]=" Dashboard "></fa-icon>
                        <span> Dashboard</span>
                    </a>
                </li>
    
                <hr class="sidebar-divider">
    
                <div class="sidebar-heading">
                    Menu Principal
                </div>
    
    
    
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <fa-icon [icon]=" List "></fa-icon>
                        <span> Detalhamentos</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Controles:</h6>
                            <a class="collapse-item" href="controlereceitas">Receitas</a>
                            <a class="collapse-item" href="controledespesas">Despesas</a>
                            <a class="collapse-item" href="emconstrucao">Orçamento</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTree"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <fa-icon [icon]=" Analisis "></fa-icon>
                        <span> Analitics</span>
                    </a>
                    <div id="collapseTree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Relatórios:</h6>
                            <a class="collapse-item" href="">Controle de contas</a>
                            <a class="collapse-item" href="">Linha do tempo</a>
                        </div>
                    </div>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <fa-icon [icon]=" Config "></fa-icon>
                        <span> Configuração</span>
                    </a>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Opções:</h6>
                            <a class="collapse-item" href="">Perfil</a>
                            <a class="collapse-item" href="">Segurança</a>
                            <a class="collapse-item" href="">Documentação</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

</body>