<div class="container">
    <h2>Alterar</h2>
    <form>
      <div class = "row">
        <div class="col-6">

            <label class="form-label">Id</label>
            <select 
            id="id_despersas"
            type="text" 
            class="form-select" 
            [(ngModel)]="AltDadosReceitas.id" 
            name="id"
            (input)="CapturaId(id.value)" #id>
            <option *ngFor="let i of DadosReceitas" >{{i.id}}</option>
            </select>
          </div>

            <div class="col-6">
            <label class="form-label">Data</label>
            <input type="text" 
            class="form-control" 
            [(ngModel)]="AltDadosReceitas.Data" 
            name="Data"
            (input)="CapturaData(Data.value)" #Data>
          </div>
        </div>

        <div class = "row">

        <div class="col-6">
          <label class="form-label">Categoria</label>
          <input type="text" 
          class="form-control" 
          [(ngModel)]="AltDadosReceitas.Categoria" 
          name="Categoria"
          (input)="CapturaCategoria(Categoria.value)" #Categoria>
         
        </div>
        <div class="col-6">
          <label class="form-label">Valor</label>
          <input type="number" 
          class="form-control" 
          [(ngModel)]="AltDadosReceitas.Valor" 
          name="Valor" 
          (input)="CapturaValor(Valor.value)" #Valor>
       
        </div>

      </div>
         
            <div class = "row">
          

          <div class="col-6">
            <label class="form-label">Fonte</label>
            <input type="text" class="form-control" 
            [(ngModel)]="AltDadosReceitas.FonteReceita"  name="FonteDespesa">
           
          </div>
        

          <div class="col-06">
            <label class="form-label">Observacao</label>
            <input type="text" class="form-control" 
            [(ngModel)]="AltDadosReceitas.Observacao"  
            name="Observacao"
            (input)="CapturaFonteDespesa(Observacao.value)" type="text" class="form-control"
                #Observacao>
           
          </div>
        </div>
        
          <div class="modal-footer">
            <button type="button" (click)="update(); atualizado()" data-bs-dismiss="modal" class="btn btn-primary">Atualizar</button>
          </div>
        
      
         
    </form>
</div>