<app-navbar></app-navbar>
<app-carregando [carregando]="carregando" ></app-carregando>

<div class="positionCardNotfound col-9 position-absolute top-0 end-0 container-fluid m-3">
  <!-- Acorddion -->
  <mat-card class="mb-3" id="CardDespesas">
    <h1 class="tituloCard"><strong>Gasto de Despesas Por categoria</strong></h1>
    <div class="flex scrolbarGrafico">

      <div class="">

        <ngx-charts-advanced-pie-chart 
        [view]="viewPizza" 
        scheme="flame" 
        [results]="DivisaoCategoricaDesp"
        [gradient]="gradient" 
        (select)="onSelect($event)" 
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
        </ngx-charts-advanced-pie-chart>
      </div>
      <div class="">
        <ngx-charts-bar-horizontal 
        [view]="viewBarraHorizontal" 
        scheme="flame" 
        [results]="DivisaoCategoricaDesp"
        [legendPosition]="legendPosition" 
        [gradient]="gradient" 
        [xAxis]="showXAxis" 
        [yAxis]="showYAxis"
        [legend]="showLegend" 
        [showXAxisLabel]="showXAxisLabel" 
        [showYAxisLabel]="showYAxisLabel"
        [showDataLabel]="showDataLabel" 
        (select)="onSelect($event)" 
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
        </ngx-charts-bar-horizontal>
      </div>
    </div>
  </mat-card>

  <mat-card class="mb-3 card" id="CardDespesas">
    <div class="flex">
    <div>
      
    </div> 
    <h1 class="tituloCard"><strong>Histórioco de gastos</strong> 
      
      
  </h1>
  <div class="btn-group " role="group">
    <button (click)="transformacaoHistDiario()" class="btn btn-outline-danger ml-3 ">Dia</button>
    <button (click)="transformacaoHistMensal()" class="btn btn-outline-danger  ">Mês</button>
  </div>
  </div>
    <div class="flex scrolbarGrafico">
      <hr>

      <div class="">
        <h3 class="accordion-item"><strong>Gasto por Total (Dia/Mês)</strong></h3>
        <ngx-charts-bar-vertical 
        [view]="view_barVertical" 
        [scheme]="colorScheme" 
        [results]="single" 
        [gradient]="gradient"
          [xAxis]="showXAxis" 
          [yAxis]="showYAxis" 
          [legend]="false" 
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [showGridLines] = "true"
          [showDataLabel]="showDataLabel" 
          [legendPosition]="legendPosition"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>

      <div>
        <h3 class="accordion-item"><strong>Gasto por categoria (Dia/Mês)</strong></h3>
        <ngx-charts-bar-vertical-2d
        [view]="viewEmpilhadas" 
        scheme="flame" 
        [results]="multi" 
        [gradient]="gradient"
        [xAxis]="showXAxis" 
        [yAxis]="showYAxis" 
        [legend]="showLegendEmp" 
        [showGridLines] = "false"
        [showDataLabel]="showDataLabel"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [legendPosition]="legendPosition"
        [animations]="animations" 
        (select)="onSelect($event)">
        </ngx-charts-bar-vertical-2d>
      </div>


      
      
    </div>
  </mat-card>
  <mat-card id="CardDespesas">

    <app-abas-home (carregamentoTabelas_Abas)="carregou_Abas($event)"
      (carregamentoTabelas_Cards)="carregouAgoraMeAjuda($event)" selecionarAba="Despesas"></app-abas-home>

  </mat-card>
  <!--------------Modal Exclusão das Receitas --------->
  <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Despesas por categoria</h1>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Registros</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of DadosModal">
                <th scope="row">{{i}}</th>
              </tr>
              <tr>
                <th scope="row">{{TotalModal}}</th>
              </tr>



            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-success">OK !</button>
        </div>
      </div>
    </div>
  </div>

  <!--------------====================MODAIS DE DESPESA============== --------->



  <!--------------Modal Inclusão das Despesas --------->
  <!-- 
 <div class="modal fade" id="ModInclusaoDesp" 
 tabindex="-1" role="dialog" 
 aria-labelledby="exampleModalLabel" 
 aria-hidden="true">
   
 <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Coletar Registro</h5>
         <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
        
         <app-formdespesas
         (Data)="CapturaDataDesp($event)"
         (Categoria)="CapturaCategoriaDesp($event)"
         (SubCategoria)="CapturaSubCategoriaDesp($event)"
         (Observacao)="CapturaObservacaoDesp($event)"
         (FonteDespesa)="CapturaFonteDespesa($event)"
         (Valor)="CapturaValorDesp($event)">
         </app-formdespesas>
         

       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
         <button type="button" (click)="createDespesas()"  class="btn btn-danger">OK</button>
       </div>
     </div>
   </div>
 </div>
 
 <div class="modal fade" id="ModAlteracaoDesp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Coletar Registro</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <app-formalteradespesas
        (id)="CapturaIdDesp($event)"
        (Data)="CapturaDataDesp($event)"
        (Categoria)="CapturaCategoriaDesp($event)"
        (SubCategoria)="CapturaSubCategoriaDesp($event)"
        (Observacao)="CapturaObservacaoDesp($event)"
        (FonteDespesa)="CapturaFonteDespesa($event)"
        (Valor)="CapturaValorDesp($event)"
        (atualizar)="capturarAtualizacao($event)">
        </app-formalteradespesas>
        

      </div>
      
    </div>
  </div>
</div> 
 

<div class="modal fade" id="ModExclusaoDesp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Coletar Registro</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        Tem certeza que quer excluir a Despesa ?

      </div>
      <div class="modal-footer">
        <button type="button" class=" m-1 btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button type="button" (click)="deleteDespesa()" class="btn btn-danger">Sim</button>
      </div>
    </div>
  </div>
</div>
</div> -->

</div>