<div class="container">
    <form action="">
        <div class = "row mb-2">
            <div class="col-6">
            
                <span style="color: red">*</span><Label><strong>Data</strong></Label>
                <div class="form-text">Data do registro </div>
                <input (input)="CapturaData(Data.value)" #Data type="date" class="form-control">
            </div>
        

        <div class="col-6">
        
            <span style="color: red">*</span><Label><strong>Categoria</strong></Label>
            <div class="form-text">Como categoriza seu registro ?</div>

            <select class="form-select" (input)="CapturaCategoria(Categoria.value)" #Categoria>

                <option *ngFor="let item of CategoriaList" [value]="item">{{item}}</option>

            </select>
        </div>
    </div>
    <div class = "row mb-2">
        <div class="col-6">
        
            <Label><strong>SubCategoria</strong></Label>
            <div class="form-text">Subcategorize seu registro.</div>

            <select class="form-select" (input)="CapturaSubCategoria(SubCategoria.value)" #SubCategoria>

                <option *ngFor="let item of SubCategoriasList" [value]="item">{{item}}</option>

            </select>


        </div>

        <div class="col-6">
        
            <span style="color: red">*</span><Label><strong>Fonte utilizada</strong></Label>
            <div class="form-text">Qual fonte de renda você utilizou ?</div>

            <select (input)="CapturaFonteDespesa(FonteDespesa.value)" class="form-select" #FonteDespesa>

                <option *ngFor="let item of Fonte" [value]="item">{{item}}</option>

            </select>

        </div>
    </div>
    <div class = "row mb-2">
        <div class="col-6">
        
            <Label><strong>Observacao</strong></Label>
           
            <textarea (input)="CapturaFonteDespesa(Observacao.value)" type="text" class="form-control"
                #Observacao></textarea>
                <div class="form-text">Tem alguma coisa que se lembre sobre essa despesa ?</div>
        </div>

        <div class="col-6">
        
            <span style="color: red">*</span><Label><strong>Valor</strong></Label>
            <div class="form-text">Que tipo de despesa ?</div>
            <input (input)="CapturaValor(Valor.value)" type="number" class="form-control" #Valor>
            
        </div>
    </div>
        <!--   <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Amount</mat-label>
                    <input (input)="CapturaValor(Valor.value)" #Valor matInput type="number" class="example-right-align" placeholder="0">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
             </mat-form-field> -->

    </form>
</div>