<div class="container">
    <form action="">

        <div class="mb-2">

            <Label>Data</Label>

            <input (input)="CapturaData(Data.value)" #Data type="date" class="form-control">

            <div class="form-text">Data da despesa</div>

        </div>

        <div class="mb-2">

            <Label>Categoria</Label>
            <div class="form-text">Como categoriza sua despesa ?</div>

            <select class="form-select" (input)="CapturaCategoria(Categoria.value)" #Categoria>

                <option *ngFor="let item of CategoriaList" [value]="item">{{item}}</option>

            </select>
        </div>

        <div class="mb-2">
            <Label>SubCategoria</Label>
            <div class="form-text">Subcategorize sua despesa.</div>

            <select class="form-select" (input)="CapturaSubCategoria(SubCategoria.value)" #SubCategoria>

                <option *ngFor="let item of SubCategoriasList" [value]="item">{{item}}</option>

            </select>


        </div>

        <div class="mb-2">
            <Label>Fonte Fonte utilizada</Label>

            <div class="form-text">Qual fonte de renda você utilizou ?</div>

            <select (input)="CapturaFonteDespesa(FonteDespesa.value)" class="form-select" #FonteDespesa>

                <option *ngFor="let item of Fonte" [value]="item">{{item}}</option>

            </select>

        </div>

        <div class="mb-2">
            <Label>Observacao</Label>

            <textarea (input)="CapturaFonteDespesa(Observacao.value)" type="text" class="form-control"
                #Observacao></textarea>
            <div class="form-text">Tem alguma coisa que se lembre sobre essa despesa ? ?</div>
        </div>

         <div class="mb-2">
            <Label>Valor</Label>
            <input (input)="CapturaValor(Valor.value)" type="number" class="form-control" #Valor>
            <div class="form-text">Que tipo de despesa ?</div>
        </div>

     <!--   <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Amount</mat-label>
                <input (input)="CapturaValor(Valor.value)" #Valor matInput type="number" class="example-right-align" placeholder="0">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
         </mat-form-field> -->

    </form>
</div>